.header {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  padding: .5rem 1rem;
  background-color: var(--ods-color-primary-500);

  &__title {
    font-weight: 600;
    color: var(--ods-color-primary-000);
  }
}
