@import '@ovhcloud/ods-react/style';

.dashboard {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-row-gap: 2rem;
  padding: 2rem 0;

  &__tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;

    &__tile {
      display: flex;
      flex-flow: column;
      row-gap: 1rem;
      padding: 1rem;

      &__title {
        color: var(--ods-color-primary-500);
        font-size: px-to-rem(18px);
        font-weight: 700;
      }

      &__divider {
        background-color: var(--ods-color-primary-200);
        width: 100%;
      }

      &__link {
        width: max-content;
      }
    }
  }
}
