$header-height: 40px;

.app {
  height: 100%;

  &__header {
    position: fixed;
    right: 0;
    left: 0;
    height: $header-height;
  }

  &__body {
    display: grid;
    grid-template-columns: 220px 1fr;
    padding-top: $header-height;

    &__content {
      position: relative;
      padding: 2rem;
      height: calc(100vh - #{$header-height});
      overflow-y: auto;
    }
  }
}
