@import '@ovhcloud/ods-components/style';

.user-form {
  display: flex;
  flex-flow: column;
  grid-row-gap: 1rem;

  &__fields {
    &__label {
      @include ods-text-label();
    }
  }

  &__actions {
    display: flex;
    flex-flow: row;
    column-gap: .5rem;
    justify-content: flex-end;
  }
}
