.product-form {
  display: flex;
  flex-flow: column;
  grid-row-gap: 1rem;

  &__fields {
    &__price {
      display: flex;
      grid-column-gap: .5rem;
      align-items: center;

      &__currency {
        color: var(--ods-color-primary-500);
      }
    }
  }

  &__actions {
    display: flex;
    flex-flow: row;
    grid-column-gap: .5rem;
    justify-content: flex-end;
  }
}
