.list {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-row-gap: 2rem;

  &__item {
    &__title {
      color: var(--ods-color-text);
      font-weight: bold;
      font-size: 18px;
    }
  }
}
